[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pygame = "*"
pytris = {file = "https://github.com/AntonSidorov/pytris/releases/download/v0.0.7/pytris-0.0.7-py3-none-any.whl"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
